@charset "UTF-8";

/* IE specific CSS */
div.intro-box h1 {
    font-size: 60px!important;
}
div#page-top {
left:0;
}
div#page-body {
top:126px;
position:relative;
}
div.content-box {
clear:both;
}
div#page-footer {
top:120px;
position: relative;
}